#modal-overlay {
  display:none;
  .ajaxwishlist_btn_cancel {
    background-color: #FF3300;
    color: #FFF;
  }

  #tigren-wishlist-mess {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
  }

  .attribute-infomation {
    .label-attribute {
      color: red;
      font-size: 20px;
    }
  }

  .product-info-main {
    .product-info-price {
      .product-info-stock-sku {
        text-align: left;
      }

      .product-info-stock-sku,
      .product-reviews-summary,
      .price-box price-final_price {
        display: block;
      }
    }
  }

  #tigren-wishlist-product-information {
    h2 {
      text-align: center;
      color: green;
    }
  }

}