<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Wishlist $block */

use Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist; ?>
<div id="modal-overlay">
    <div id="tigren-wishlist-mess"></div>
    <div id="tigren-wishlist-product-information"></div>
</div>
<!-- <?= /* @noEscape */
$block->getAddToWishlistParams($block->getProduct()) ?> -->
<script type="text/x-magento-init">
    {
        "body": {
            "addWishListAjax": {}
        }
    }

</script>
